# Порт, на якому підіймається Express сервер
PORT=3000

# Рядок підключення до MongoDB Atlas або локальної бази
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/snackenglish?retryWrites=true&w=majority

# Токен вашого бота від @BotFather
BOT_TOKEN=1234567890:ABCdefGhIJKlmNoPQRsTUVwxyZ

# Дозволений Origin для CORS (домен фронтенду або тунелю)
CLIENT_URL=https://your-app-domain.com

# Посилання на WebApp для генерації інлайн-кнопки в команді /start (обов'язково HTTPS)
VITE_APP_URL=https://your-app-domain.com